.ComponentFuncToJsone {
  max-width: 94%;
  margin: 1%;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.374);
  font-size: 16px;
  line-height: 1.5;
}
.textarea-row {
  display: flex;
  flex-direction: column;
}
.textarea {
  padding: 10px;
}
.textarea-Bottom {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 200px;
  height: 36px;
  align-self: end;
}
.Text {
  padding: 1%;
  border: 1px solid black;
}
.controll {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.controll-text {
  font-size: 19px;
  margin-right: 50px;
}
.Bottom {
  height: 36px;
  font-size: 16px;
}
