.ComponentFuncToJsone {
  max-width: 800px;
  margin: 1%;
  padding: 2%;
  border: 1px solid rgba(0, 0, 0, 0.374);
  font-size: 16px;
  line-height: 1.5;
}
.title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  font-weight: 500;
}
.title-text {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 400;
}
.title-text span {
  font-weight: 500;
}
.title-tooltip {
  display: block;
  font-weight: 400 !important;
  font-size: 12px;
  margin-left: 10px;
}
.textarea-row {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.textarea {
  padding: 10px;
  width: 96%;
  resize: vertical;
  background-color: rgba(254, 254, 254, 0.86);
  border-radius: 6px;
}
.textarea-Bottom {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 200px;
  height: 36px;
  align-self: end;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid black;
}
.Text {
  border-radius: 6px;
  padding: 1%;

  border: 1px solid black;
  min-height: 150px;
  width: 96%;
  resize: vertical;
  background-color: rgba(255, 255, 255, 0.86);
}
.controll {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.textarea-tooltip {
  margin-bottom: 7px;
}
.controll-tooltip {
  margin-bottom: 7px;
}
.controll-text {
  font-size: 19px;
  margin-right: 50px;
  color: green;
}
.Bottom {
  width: 200px;
  height: 36px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 6px;
}
